.app{
    width: 50%;
    height: 50%;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header>button{
    cursor: pointer;
}

.employees{
    display: flex;
    text-align: center;
}

.employees > div {
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}

.employees_list {
  width: 30%;
}
.employees_details {
  width: 70%;
}

.employees_list , .employees_details{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.employees_details_header , .employees_list_header{
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

.employees_list_names{
  display: flex;
  flex-direction: column;
}

.employees_list_items{
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 5px;
  display: flex;
  border-radius: 10px;
  background-color: azure;
  justify-content: space-between;
  align-items: center;
}
.employees_list_items:hover{
  background-color: rgb(120, 174, 174);
}

.employees_list_items:selected{
  background-color: rgb(32, 97, 97);
}

.employees_details_header {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding: 5px;
}
.employees_details_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.employees_details_info > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
}
.add_employee{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

}
.add_employee_modal {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 50px grey;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}
 .add_employee_modal > div {
  display: grid;
  grid-template-columns: 48.1% 48.1%;
  column-gap: 15px;
}
.add_employee_modal input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
}